@use "../../../styles/mixins/general";


.home-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   height: 100vh;
   background-color: lightblue;
    

   
.copy-info{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{        
        font-family: 'Arya';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
        color: #FFFFFF;
            }
}
    
}






