body{
  overflow: hidden;
}
.modal-backdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.533);

}

.images-input{
  display: none;
}

.modal-body {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 0;
  right: 0;
height: 75vh;
  min-width: 40vw;
  max-width: 70vw;
  background-color: white;
  z-index: 1;
  border-radius: 30px;

  .modal-title {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  span::first-letter {
    text-transform: capitalize;
  }

  .create-tags{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    box-shadow: rgba(97, 97, 97, 0.16) 0px 1px 4px;
    border-radius: 10px;

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      // outline: 1px solid black ;
      width: 100%;
      height: 5vh;
      cursor: pointer;
      letter-spacing: 1px;
      font-family: 'Arya';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
    }
    .selectedTag{
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
      font-weight: 500;
      background-color: rgba(217, 199, 166, 0.5);
      color: black;
      border-radius: 10px;
    }
  }

  .modal-nav {
    display: flex;
    width: 100%;
    height: 5vh;

    div {
      display: flex;
      box-sizing: border-box;
      padding: 5px;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      height: 100%;
      border-right: 1px solid black;
      border-bottom: 1px solid black;


      border-radius: 0 0 7px 0;
    }

    .active {
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      border-bottom: 0;
      border-radius: 0;
    }

  }

  //GRID
  .modal-info-container {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    max-height: 50vh;
    width: 60vw;
    justify-content: space-around;
    // background-color: antiquewhite;


    .concept-img-cont{
      display: flex;
    }
/* CSS */
.create-btn {
  // margin-top: 6rem;
  margin-bottom: 1rem;
  max-height: 7vh;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: "Arya";
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.create-btn:hover {
  box-shadow: rgba(217, 199, 166, 0.5) 0 0 0 3px, transparent 0 0 0 0;
}
    
    .image-container {
      position: relative;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    
    .image-container img {
      display: block;
      width: 100%;
      min-height: 10vh;
      max-height: 20vh;
      // object-fit: cover;
      object-fit: contain;
      object-position: center;
    }
    
    .image-container:hover .image-overlay {
      display: block;
    }
    
    .image-overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
    .image-delete {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
      color: white;
    }
    
    
    .text-area-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }
    
    .image-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
// img{
//   height: 20vh;
//   // width: 50%;
// }
.home-modal-container{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;

div{
  // display: flex;
  width: 100%;
}
input{width:50%;
height: 5vh;}
// img{width:100%;}

  
}
    .news-modal-container{
      display: grid;
      // justify-content: space-around;
      
      align-items: center;
grid-template-columns: auto;
grid-template-rows: auto;
flex-direction: column;
min-height: 20vh;
grid-template-areas: "name location"
"subName photo"
"client surface"   
    ;

    input {
      width: 20vw;
      height: 5vh;
    }
    img{
      // height: 15vh;
      // margin-top: 2rem;
    }
    }
    .modal-contact-container{
      display: flex;
      flex-direction: row;
      // background-color: chartreuse;
      box-sizing: border-box;
      padding: 1em;

      // img{
      //   height: 30vh;
      //   width: 50%;
      // }
      
    }
    .concepts-container{
      display: flex;
      flex-direction: column;
    }
  }
                               .modal-mainInfo-subcontainer{
                                // background-color: aqua;
                                display: grid;
                                justify-content: space-around;
                                align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-direction: column;
    min-height: 20vh;
    margin-bottom: 2vh;
    grid-template-areas: "name subName"
                          "location photo"
                          "client surface"   
                              ;

                              input {
                                width: 20vw;
                                height: 5vh;
                              }
                          
                               }

.modal-desciption-subcontainer{
 display: flex;                   
   }

  .modal-images-subcontainer{
    display: flex;
    width: 100%;
    justify-content: center;
//     flex-direction: column;
//     height: 40vh;
//     // background-color: aqua;

// //**OPTION**//
div:nth-of-type(1){
  display: flex;
  

  
// background-color: antiquewhite;
  div:nth-of-type(1){
  // outline: 1px solid black;
    // background-color: red;
    height: 100%;
    width:100%;
    input{
      display: none;
    }

    div{
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
    img{
      height: 20vh;
      
      object-fit: contain;
      object-position: center;
    }
  }
}
// //**OPTION END //

// //**BUTTON**//
div:nth-of-type(2){
  display: flex;
  align-items: flex-end;
  // background-color: aliceblue;

}
// //**BUTTON END //
.image-carrusel{
  display: flex;
  
      height: 30vh;
      width:50vw;
     
      
}
   }
    .text-input { 
      grid-area: client;
    }

    .name-input {
      grid-area: name;
    }

    .client-input {
      grid-area: client;
    }

    .location-input {
      grid-area: location;
    }

    .subName-input {
      grid-area: subName;
    }

    .desc-input {
      vertical-align: top;
      text-align: top;
      height: 20vh;
      width: 50%;

    }

    .subDesc-input {
      vertical-align: top;
      text-align: top;
      height: 20vh;
      width: 50%;
    }

    .photographer-input {
      grid-area: photo;
    }

    .surface-input {
      grid-area: surface;
    }

    .images-input {
      grid-area: images;
    }

    // background-color: bisque;
 
    // img {
    //   height: 5vh;
    //   object-fit: cover;
    //   object-position: center;
    // }

    // .image-carrusel{
    //   display: flex;
    //   height: 35vh;
   
    // }


  }