.modal-backdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.533);

}

.modal-body {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5rem;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  left: 0;
  right: 0;
  min-height: 60vh;
  min-width: 40vw;
  max-width: 70vw;
  background-color: white;
  z-index: 1;
  border-radius: 30px;

  .modal-title {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  span::first-letter {
    text-transform: capitalize;
  }

  .create-tags{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    box-shadow: rgba(97, 97, 97, 0.16) 0px 1px 4px;
    border-radius: 10px;

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      // outline: 1px solid black ;
      width: 100%;
      height: 5vh;
      cursor: pointer;
      letter-spacing: 1px;
      font-family: 'Arya';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
    }
    .selectedTag{
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
      font-weight: 500;
      background-color: rgba(217, 199, 166, 0.5);
      color: black;
      border-radius: 10px;
    }
  }

  .modal-nav {
    display: flex;
    width: 100%;
    height: 5vh;

    div {
      display: flex;
      box-sizing: border-box;
      padding: 5px;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      height: 100%;
      border-right: 1px solid black;
      border-bottom: 1px solid black;


      border-radius: 0 0 7px 0;
    }

    .active {
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      border-bottom: 0;
      border-radius: 0;
    }

  }

  //GRID
  .modal-info-container {
    display: flex;
    flex-direction: column;
   min-height: 40vh;
   width: 60vw;
  //  background-color: bisque;
   justify-content: space-around;
  

                               .modal-mainInfo-subcontainer{
                                // background-color: aqua;
                                display: grid;
                                justify-content: space-around;
                                align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    flex-direction: column;
    min-height: 20vh;
    grid-template-areas: "name location"
                          "subName photo"
                          "client surface"   
                              ;

                              input {
                                width: 20vw;
                                height: 5vh;
                              }
                          
                               }

.modal-desciption-subcontainer{
background-color: aqua; 
 display: flex;                   
   }

   .modal-images-subcontainer{
    display: flex;
    flex-direction:column;
    height: 30vh;

    padding-bottom: 1vh;

    div:nth-of-type(1) {
      display:flex;
      width: 100%;
      height: 5vh;

      select{
        width: 30%;
        height: 100%;
      }
    }
    div:nth-of-type(2) {
      display: flex;
      width: 100%;
      height: 100%;
      
      div:nth-of-type(1){
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 100%;

        img{
          height: 25vh;
        }
     


    
     
      }
      div:nth-of-type(2){
        width: 70%;
        height: 100%;
        display: flex;

    
       div:nth-of-type(1){
        // background-color: aqua;
        width: 20%;
        button {
          cursor: pointer;
          margin-top: 22vh;
          height: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 6px 14px;
          font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
          border-radius: 6px;
          color: #3D3D3D;
          background: #fff;
          border: none;
          box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
          user-select: none;
          border: 1px solid black;
          -webkit-user-select: none;
          touch-action: manipulation;
        }
        
        button:focus {
          box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(217, 199, 166, 0.5);
          
          outline: 0;
        }
      }
      div:nth-of-type(2){
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
        overflow: scroll;
      img{
        height: 8vh;
        width: 8vw;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }
    div:nth-of-type(2)::-webkit-scrollbar{
      display: none;
    }
    
      }

    }
    input{
      display: none  ;
    }
   }
    .text-input { 
      grid-area: client;
    }

    .name-input {
      grid-area: name;
    }

    .client-input {
      grid-area: client;
    }

    .location-input {
      grid-area: location;
    }

    .subName-input {
      grid-area: subName;
    }

    .desc-input {
      vertical-align: top;
      text-align: top;
      height: 20vh;
      width: 50%;

    }

    .subDesc-input {
      vertical-align: top;
      text-align: top;
      height: 20vh;
      width: 50%;
    }

    .photographer-input {
      grid-area: photo;
    }

    .surface-input {
      grid-area: surface;
    }

    .images-input {
      grid-area: images;
    }

    // background-color: bisque;
 
    img {
      height: 5vh;
      object-fit: cover;
      object-position: center;
    }


  }
}       


