//Mobile

#footer-main-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    // background-color: red;   
    margin: 17rem 0 11rem 0;

div{
    margin: 0.4rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.48vh;
    display: flex;
    flex-direction: column;
    line-height: 140%;
}

div:nth-of-type(2){
    a{
        text-decoration: none;
        color: black;
    }
    a:active{
        text-decoration: none;
    }
    
  
}
div:nth-of-type(3){
    span:nth-of-type(4){
            color:#959595
        }
        }

}

@media only screen and (min-width: 500px){
    #footer-main-container{
        // display: none;
        position: relative;
        flex-direction: row;
        bottom: 0;
        left: 0;
        height: 8vh;
        width: 100%;
        margin: 5rem 0 7rem 0;
        justify-content: space-between;
        // background-color: red;
        box-sizing: border-box;
        padding: 0 8vw 0 8vw;
    }
}