//Mobile

#footer-main-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    // background-color: red;   
    margin: 17rem 0 11rem 0;

div{
    margin: 0.4rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    line-height: 140%;
}

div:nth-of-type(2){
    a{
        text-decoration: none;
        color: black;
    }
    a:active{
        text-decoration: none;
    }
    

span:nth-of-type(4){
        color:#959595
    }

}

}