//Mobile
.project-content-box{
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3.5rem 0 3.5rem;
    }

.project-image{
    background-color: azure;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);   
    }

.project-title1{
    font-family: 'Arya';    
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 130%;
/* or 26px */
    text-align: center;
    // outline: 1px solid black;
    margin: 0.5rem;
}

.project-title2{
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-size: 1.5vh;
    text-align: center;
    margin: 0.2rem;
    // outline: 1px solid black;
    margin-bottom: 2rem;
}

.project-image:hover{
    cursor: pointer;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    }

//Web
@media only screen and (min-width: 1366px){
.project-body{
    box-sizing:border-box;
    display: flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    // background-color: aqua;
}
.project-content-box{
    height:55vh;
    width: calc(100%/3);
    padding: 0 1.5vw 0 1.5vw;
    .project-image{
        width: auto;
        height: 100%;
    }
} 


}

@media (min-width: 600px) and (max-width: 1365px){
    .project-body{
 
        display: flex;
        justify-content:start;
        flex-wrap:wrap;
        
    }
    .project-content-box{
        height: 50vh;
        width: calc(100%/2);

        .project-image{
            height: 100%;
        }
    
    } 
}