@use "../../../styles/mixins/general";
// .adriana-name{ @include general.adrianaText($theme: black);}
.nav-home {
  position: fixed;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  background-color: general.$nav-color;
  box-sizing: border-box;
  padding: 1rem;
}

.language-box-nav{
// background-color:aqua;
// height: 5vh !important;
.dropdown-menu{
  height: 1vh;
}
div{
  height: 3vh;
}
}