#concepts{
    box-sizing: border-box;
    padding: 0 3.5rem 0 3.5rem;
.concepts-intro{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    }
}
