#concepts-main{ 
    background-color: rgba(255, 255, 255);;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .concepts-intro{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    }
}