// Mixins
@mixin adrianaText($theme:black){
    color: $theme;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:  170px;
    height:85vh;
    outline: 1px solid black;
    font-family: 'Arya';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 177.9%;
    text-align: center;
    z-index: 1;
}

// Variables

$nav-color : #D9C7A6


