//Mobile
#about-main{
    display: flex;
    height: 100vh;
    width: 100%;
// background-color: red;

.about-left{
    display: none;
height: 100%;
width: 50%;
background-color: aqua;

div{
    display: none;
}
}
.about-right{
    // overflow:scroll;
display: flex;
flex-direction: column;
// justify-content: center;
align-items: center;
height: 100%;
width: 100%;
// background-color: lightcoral;

    .about-image-container{
       background-size: cover;
       background-repeat: no-repeat;
        // margin-top: 10rem;
        width: 100%;
        min-height: 417px;
        z-index: -1;
        // outline: 1px solid black;
       
    

    .about-text-container{
        height: 100%;
        width: 100%;
        // outline: 1px solid black;
        margin-top: 2rem;
    }

}


}
    
}

.page-nav{
    display: none;
}

// WEB
@media only screen and (min-width: 600px){
    .about-left{display: flex !important;
    
        div{
        display: block !important;
    }}

    .about-right{width: 50% !important;
    
        div{
        display: none;
    }}

    // .page-nav{
    //     display: block ;
    //     position: absolute;
    //     top: 10rem;
    //     margin-bottom: 25rem;
    // }

//         a{
//             cursor: pointer;
//             margin: 4rem;
//             text-decoration: none;
//             color: black;
//             font-family: 'Roboto';
// font-style: normal;
// font-weight: 300;
// font-size: 20px;
// line-height: 100%;
            
//         }
//         a:visited{
//             text-decoration: none;
//         }
        
//         a:hover{
//             color:#6C9EBB; ;
//         }
//     }

    .nav-open-web{
        div{
            display: none;
        }
//     }
}
}
