.news-info-toggle{
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  // border-bottom: 1px solid black;
  // outline: 1px solid;
  font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 1.6vh;
line-height: 120%;
margin-top: 1rem;
flex-direction: column;

.closed-container{
  box-sizing: border-box;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid black ;

  button {
      border: none;
      background: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
  
      position: relative;
      z-index: 4;
  }
}

.opened-container{
  box-sizing: border-box;
  padding: 0.2rem;
  width: 100%;
  display: flex;
flex-direction: column;  

.opened-top{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      // background-color: red;

      border-bottom: 1px solid black ;  


      button {
          border: none;
          background: none;
          cursor: pointer;
          margin: 0;
          padding: 0;
      
          position: relative;
          z-index: 4;
      }
  }

  .opened-bottom{
      cursor: pointer;
  height: auto;
  margin-top: 1rem;
  transition: all .5s ease-in-out;

  


.opened-bottom-info{
  // margin-top: 1rem;
  
  border-bottom: 1.5px solid black;
padding-bottom: 1rem;

div:nth-of-type(1){
  font-family: 'Arya';
  font-style: normal;
  font-weight: 400;
  font-size: 1.7vh;
  line-height: 120%;
  /* or 19px */
  
  text-transform: uppercase;
}


}
  }
}
}