@use "../../../styles/mixins/general";
.main-container-big{
    display: flex;
    position: relative;
    
    height: 95%;
    width: 80%;
    margin-bottom: auto;


    .adriana-name{
        @include general.adrianaText($theme: white);

        .nav-links{
            color: black;
            display: flex;
            justify-content: space-between;
            font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;

a{
    cursor: pointer;
    margin: 0.4rem;
    text-decoration: none;
    color: black;
    
}
a:visited{
    text-decoration: none;
}

a:hover{
    color:#6C9EBB; ;
}

        }
        
     
        span{
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 100%;
    width: 170px;
    height: 40px;
        }
    }
    
        
    
    .left-small,.right-small{
        flex-grow:1 ;
        flex-basis: 300px;
        display: flex;
        
    }
    
    .right-small{
        justify-content: flex-end;
       .nav-open{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 5%;
            cursor: pointer;
        

            div:nth-of-type(1){
                position: relative;
                top: 1rem;
                width: 32px;
                height: 4px;
                background-color: #FFFFFF;
          
            }
          
            div:nth-of-type(2){
                position: relative;
                top: 1.4rem;
                width: 32px;
                height: 2px;
                background-color: #FFFFFF;
               
            }
        }
       .nav-close{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 5%;
            cursor: pointer;
            z-index: 1;
        

            div:nth-of-type(1){
                position: relative;
                transform: rotate(45deg);
                top: 1.2rem;
                width: 32px;
                height: 4px;
                background-color: #000000;
               
            }
          
            div:nth-of-type(2){
                position: relative;
                transform: rotate(-45deg);
                top: 1rem;
                width: 32px;
                height: 2px;
                background-color: #000000;
            }
        }
    }
}