//Web

a{text-decoration: none;
    color: black;
}
a:visited{
color: black;
}

@media only screen and (min-width: 600px){
    .concept-content-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 55vh;
        // background-color: aqua;
        margin-bottom: 8vh;
    
        .concept-image{
            height: 45vh;
            width: 100%;
            // object-fit: contain;
            object-position: center;
            // background-color: rgb(150, 26, 80);
        }
        .concept-info-link{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            height: 10%;
            // outline: 1px solid black;
            font-family: 'Arya';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;

            a{text-decoration: none;
                color: black;
            }
            a:visited{
color: black;
            }
        }
        .project-title2{
            display: flex;
            // align-items: center;
            justify-content: center;
            min-width: 100%;
            height: 5%;
            // outline: 1px solid black;
            font-family: 'roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
        }
    }
    }
    //Mobile
    @media only screen and (max-width: 600px){
        .concept-content-box{
            display: flex;
            flex-direction: column;
            width: 86%;
            height: 40vh;
            // background-color: aqua;
            margin-bottom: 8vh;
            // align-items: center;
        .concept-info-link{
            display: flex;
            // align-items: center;
            justify-content: center;
            min-width: 100%;
            height: 10%;
            // outline: 1px solid black;
            font-family: 'Arya';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
        }
            .concept-image{
                height: 30vh;
                width: 100%;
                //  object-fit: contain;
                object-position: center;
                // background-color: rgb(150, 26, 80);
            }
            span:nth-of-type(1){
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 100%;
                height: 10%;
                // outline: 1px solid black;
                font-family: 'Arya';
                font-style: normal;
                font-weight: 400;
                font-size: 1.8vh;
            }
            span:nth-of-type(2){
                display: flex;
                // align-items: center;
                justify-content: center;
                min-width: 100%;
                height: 5%;
                // outline: 1px solid black;
                font-family: 'roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 1.5vh;
                
            }
        }
        }