.page-content-container{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height:45rem;
    width: 17rem;
    // outline: 5px solid black;
    box-sizing: border-box;
    padding-top: 10rem ;

}

.page-content-container::-webkit-scrollbar {
    display: none;
  }