.contact-image{
    min-height:22rem ;
    width:100% ;
    background-size: cover;
    background-position: center center;
}
.contact-text{
    margin-top: 1.5rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    
    display: flex;
    align-items: center;
}
#contact-form{
    display: flex;
    
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    // justify-content: center;
    // min-height: 5rem;
    width: 100%;
    // outline: 1px solid black;
    margin-top: 3.2rem;

    input{
        box-sizing: border-box;
        padding: 0.2rem;
        margin: 0.5rem 0 0.5rem 0;
        width: 100%;
        height: 1.5rem;
        border: none;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
        font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 140%;
    }
    
    input:focus{
        outline: none;
        border-bottom: 1px solid black;
    }
    input:nth-of-type(4){
        margin-top: 3rem;
    }
.send-form-container{
    // outline: 1px solid black;
    height: 1.5rem;
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    

    img{
        z-index: 1;
        cursor: pointer;
        height: 1.6rem;
        width: 2rem;
    }
}

}